@model IEnumerable<CRMStart.Core.Domain.KnowledgeBase.Section>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>Knowledgebase</h1>
            <br>
            <form>
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="What are you looking for?">
                        <span class="input-group-addon">@@</span>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>


<div class="row">





</div>